@media screen and (min-width: 485px) {
   .content {
      max-width: 550px;
      margin: 0 auto;
    }
        
    .pokemons {
      grid-template-columns: 1fr 1fr;
      padding: .25rem;
      margin: 0;
    }

    .pokemon {
      display: flex;
      flex-direction: column;
      margin: .75rem auto;
      padding: .5rem;
      border-radius: 0.75rem;
    }

    .pokemon img {
      width: 75%;
      height: 80px;
      margin: 0.5rem auto;
    }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('/assets/background/fundo-1024.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  .content {
    max-width: 868px;
    margin: 0 auto;
  }

  .pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .75rem;
    margin: 0;
  }
  .pokemon {
    padding: .75rem;
    border-radius: 1rem;
  }

  .pokemon img {
    height: 100px;
  }
}

@media screen and (min-width: 1024px) {
 
  .content {
    max-width: 1124px;
  }

  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }

  .pokemon {
    margin: 1rem auto;
    padding: .75rem;
  }

}

@media screen and (min-width: 1440px) {
  .content {
    max-width: 1440px;
  }

  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0rem auto;
  }

  .pokemon {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem auto;    
    
  }

  .pokemon img {
    height: 100px;
    margin: 0.5rem auto;
  }
}
